POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=nexumics
POSTGRES_USER=nexumics
POSTGRES_PASSWORD=nexumics
METABASE_PORT=3001
METABASE_URL=http://localhost:3001
METABASE_DATABASE_NAME=Nexumics Gold
METABASE_COLLECTION_NAME=Nexumics SRA Gold
METABASE_EMAIL=your-metabase-admin-email@example.com
METABASE_PASSWORD=your-metabase-password
